<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/mobile-default-layout.html}"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="#{page.title.mobile.faq}">[DAESANG SSL VPN] MOBILE FAQ</title>

    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/mobile/faq/mobile-faq.css}">
    </th:block>

    <th:block layout:fragment="script">
        <script type="text/javascript" th:src="@{/js/mobile/faq/faq.js}"></script>
    </th:block>
</head>

<body>
<div class="m-contents-section inner" layout:fragment="contents-section" id="m_faq">
    <div>
        <div id="m_faq_title_section">
            <div id="m_faq_title">
                <h3 th:text="#{mobile.faq.titleSection.title}">FAQ</h3>
                <p th:text="#{mobile.faq.titleSection.guideMent}">자주 올라오는 질문들을 확인하세요.</p>
            </div>
            <div id="m_faq_search-box">
                <input oninput="searchFaq();" id="m-faq-searchKeyword" type="search" th:placeholder="#{mobile.searchBar.backgroundText.writeEnterStart}" autocomplete="off">
                <img src="/images/mobile/m_search.png" alt="돋보기모양">
            </div>
        </div>
        <div id="m_faq_contents_category">
            <ul id="n-faq-category-area">
                <li th:each="code : ${faqCategoryCodes}">
                    <button onclick="selectFaqCategory(this);" type="button" th:text="${code.faqCategoryTitle}" th:id="'faqCategoryCode_' + ${code.faqCategoryCode}"></button>
                </li>
            </ul>
        </div>
        <div id="m_faq_contents_section">
            <div class="contents_scroll" id="m_faq_contents" onscroll="moreFindFaqList()">
                <ul id="n-faq-list-area"></ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>