<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/mobile-default-layout.html}"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>DAESANG SSL VPN - MOBILE VPN 터널링 시작 페이지</title>
    <title th:text="#{page.title.mobile.vpnOpenStart}">[DAESANG SSL VPN] MOBILE VPN OPEN START</title>

    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/mobile/vpn/vpn-open-start.css}">
    </th:block>

    <th:block layout:fragment="script">
        <script>
            const pageName = "MOBILE_VPN-OPEN-START";
            const osCode = "[[${osCode}]]";
        </script>
        <script type="text/javascript" th:src="@{/js/mobile/vpn/vpnOpenStart.js}"></script>
    </th:block>          
</head>
<body>
    <div class="m-contents-section inner" layout:fragment="contents-section" id="m_vpn_open_start_contents_section">
        <div id="m_vpn_open_start_contents">
            <div id="m_vpn_open_start_logo" class="m_logo_section">
                <img class="m_logo_common_style" src="/images/mobile/m_background_logo.png" alt="대상로고">
            </div>
            <div id="m_avpn_open_start_guide" class="m_guide_section">
                <h3 class="m_guide_common-style_up" th:text="#{mobile.vpn.open-start.message1}">인증이 정상적으로 완료되었습니다.</h3>
                <p class="m_guide_common-style_down" th:utext="#{mobile.vpn.open-start.message2}">VPN 접속하기를 눌러 VPN 접속을 수행해 주세요.</p>
            </div>

            <button id="m_vpn_open_start_button" class="primary_button" type="button" th:text="#{mobile.vpn.open-start.button}" onclick="vpnTunnelingOpen();">VPN 접속하기</button>
        </div>
    </div>
</body>
</html>