<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/mobile-default-layout.html}"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="#{page.title.mobile.vpnOpenFailComplete}">[DAESANG SSL VPN] MOBILE VPN OPEN COMPLETE</title>

    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/mobile/vpn/vpn-connect.css}">
    </th:block>

    <th:block layout:fragment="script">
        <script>
            const pageName = "MOBILE_VPN-OPEN-COMPLETE";
            const osCode = "[[${osCode}]]";
            const mdmUseFlag = "[[${mdmUseFlag}]]";
        </script>
    </th:block>
</head>
<body>
<div class="m-contents-section inner" layout:fragment="contents-section" id="m_vpn-connect">
    <div>
        <div id="m_vpn-connect_complete">
            <img src="/images/mobile/m_vpn-connect-success.png" alt="x마크">
            <h2 th:text="#{mobile.vpn-open.complete.title}">
                VPN 인증 성공
            </h2>
            <div class="m_vpn-connect_guide_box">
                <h3 class="subC" th:utext="#{mobile.vpn-open.complete.message}">
                    VPN 인증이 성공했습니다.
                    <br><br>

                    VPN Client가 설치되어 있지 않은 경우,<br>
                    VPN 터널이 오픈되지 않을 수 있습니다.
                    <br><br>

                    이 경우, 아래 VPN Client 설치하기 버튼을 통해<br>
                    설치 후 다시 접속을 시도해 주시기 바랍니다.
                </h3>
            </div>

            <div>
                <button type="button" class="primary_button_reverse" onclick="downloadVpnClient(osCode, mdmUseFlag)" th:text="#{mobile.vpn-open.complete.vpnClientDownload.button}">
                    VPN Client 설치하기
                </button>

                <br><br>

                <form th:action="@{/authenticate/two-factor/log-out}" th:method="post">
                    <button type="submit" class="primary_button" th:text="#{mobile.vpn-open.complete.returnMain.button}">처음으로</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>