<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/mobile-default-layout.html}"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>DAESANG SSL VPN - MOBILE VPN OPEN 실패(Client) 페이지</title>

    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/mobile/vpn/vpn-connect.css}">
    </th:block>

    <th:block layout:fragment="script">
        <script>
            const pageName = "MOBILE_VPN-OPEN-SUCCESS";
        </script>
    </th:block>
</head>
<body>
<div class="m-contents-section inner" layout:fragment="contents-section" id="m_vpn-connect">
    <div>
        <div id="m_vpn-connect_success">
            <img src="/images/mobile/m_vpn-connect-success.png" alt="x마크">
            <h2 th:text="#{mobile.vpn-open.success.title}">
                VPN 접속 성공
            </h2>
            <div class="m_vpn-connect_guide_box">
                <h3 th:utext="#{mobile.vpn-open.success.guide}" class="subC">
                    VPN 터널 오픈이 완료되었습니다. 브라우저에서 필요한 사내 서버를 접속하여 주시기 바랍니다.
                </h3>
            </div>
            <form th:action="@{/authenticate/two-factor/log-out}" th:method="post">
                <button type="submit" class="primary_button" th:text="#{mobile.vpn-open.success.button}">처음으로</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>