#m_set-password_input_field {
    margin: 2em 0;
}

#m_set-password_input_field > ul > li {
    border: 1px solid #888B8D;
    background-color: #fff;
    border-radius: 8px;
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
}

#m_set-password_input_field > ul > li:first-child {
    margin-bottom: 8px;
}

#m_set-password_input_field h3 {
    width: 91px;
    text-align: center;
    color: #888B8D;
    font-size: 16px;
}

#m_set-password_input_field input {
    width: calc(100% - 91px);
    height: 100%;
    padding: 0 5px;
}

#setPasswordErrorMessageArea {
    text-align: right;
}

#setPasswordErrorMessage {
    padding-top: 10px;
    font-size: 15px;
}

#m_set-password_sub_guide {
    margin-top: 1.5em;
    text-align: right;
}

#setPassSuccess_right_contents_guide {
    align-items: baseline;
    margin-top: 20px;
    display: none;
}

#setPassSuccess_right_contents_guide img {
    width: 12px;
    height: auto;
    margin: 1px 5px 0 0;
}

#setPassSuccess_right_contents_guide p {
    font-size: 14px;
    line-height: 20px;
    color: #888B8D;
    /* width: 83%; */
}