#pc-footer {
    width: 100%;
    color: #888B8D;
    height: 11%;
}

footer > div {
    display: flex;
    align-items: center;
    height: 100%;
}

#pc-footer p {
    margin-right: 1rem;
}

#pc-footer img {
    width: 8.7rem;
    height: 2.2rem;
}