/* side menu */

#side_dim {
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 9998;
}

#side_bar {
    background-color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: fixed;
    top: 0;
    left: -55%;
    width: 55%;
    height:100%;
    padding-top: env(safe-area-inset-top);
}

.side_inner {
    padding: 0 20px;
}

#side_logo_section {
    display: flex;
    align-items: flex-end;
    border-bottom: 2px solid #E42312;
    height: 100px;
    padding-bottom: 25px;
}

.side_menu {
    height: calc(100% - 100px - 110px);
}


.side_menu > li:first-child {
    padding-top: 10px;
}

.side_menu > li::after {
    content: "";
    display: block;
    width: 24px;
    border-bottom: 2px solid #888B8D;
    margin: 10px 20px;
}

.side_menu > li:last-child::after {
    border: none;
}


.side_menu > li > a {
    display: block;
    font-size: 20px;
    align-items: center;
    padding: 10px 20px;
}

.side_menu > li > .language_toggle:hover {
    background-color: #000;
    color: #fff;
}

.side_menu > li > .language_toggle:hover .toggle_arrow_box img {
    filter: brightness(200%);
}

.side_menu > li > .language_toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 10px 20px;
}

.language_toggle_list {
    margin-top: 5px;
    display: none;
}

.language_toggle_list > li {
    font-size: 17px;
    display: block;
    padding: 5px 30px;
    color: #888B8D;
}

.language_toggle_list > li:hover {
    background-color: #000;
    color: #fff;
}

.toggle_arrow_box img {
    filter: brightness(0%);
}

.m_up_arrow {
    display: none;
}

.side_bottom {
    border-top: 2px solid #E42312;
    height: 110px;
    padding: 20px;
}

.side_bottom a {
    display: inline;
    border-bottom:1px solid #000;
    font-size: 16px;
}

.vpn-disconnect .m_modal_message-box p {
    font-size: 17px;
    margin: 20px 0;
}

@media (max-height:670px) {
    .side_bottom {
        height: 80px;
    }

    .side_menu {
        height: calc(100% - 100px - 80px);
        overflow: auto;
    }
}

@media (max-width:300px) {
    #side_logo_section img {
        width: 100%;
        height: auto;
    }

    .side_bottom a {
        font-size: 13px;
    }
}