<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/mobile-default-layout.html}"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="#{page.title.mobile.notice}">[DAESANG SSL VPN] MOBILE NOTICE</title>

    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/mobile/notice/mobile-notice.css}" >
    </th:block>

    <th:block layout:fragment="script">
        <script type="text/javascript" th:src="@{/js/mobile/notice/notice.js}"></script>
    </th:block>
</head>
<body>

<div class="m-contents-section inner" layout:fragment="contents-section" id="m_notice">
    <div>
        <div id="m_notice_title_section">
            <div id="m_notice_title">
                <h3 th:text="#{mobile.notice.titleSection.title}">공지사항</h3>
                <p th:text="#{mobile.notice.titleSection.guideMent}">새로운 공지사항을 알려드립니다.</p>
            </div>
            <div id="m_notice_search-box">
                <input oninput="searchNotice()" id="m-notice-searchKeyword" type="search" th:placeholder="#{mobile.searchBar.backgroundText.writeEnterStart}" autocomplete="off">
                <img src="/images/mobile/m_search.png" alt="돋보기모양">
            </div>
        </div>
        <div id="m_notice_contents_section">
            <div class="contents_scroll" id="m_notice_contents" onscroll="moreFindNoticeList()">
                <ul id="n-notice-list-area"></ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>