<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/mobile-default-layout.html}"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>DAESANG SSL VPN - MOBILE MFA 디바이스 관리 페이지</title>
    <title th:text="#{page.title.mobile.deviceManagement}">[DAESANG SSL VPN] MOBILE DEVICE MANAGEMENT</title>

    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/mobile/device/device-management.css}">
    </th:block>

    <th:block layout:fragment="script">
        <script>
            const pageName = "MOBILE_DEVICE-MANAGEMENT";
            const mfaPinLen = [[${mfaPinLen}]];
            const mfaPatternSize = [[${mfaPatternSize}]];
        </script>
        <script type="text/javascript" th:src="@{/js/mobile/device/deviceManagement.js}"></script>
    </th:block>
</head>
<body>
<div class="m-contents-section inner" layout:fragment="contents-section" id="m_device-management">
    <div>
        <div id="m_device-management_title_section">
            <div id="m_device-management_title">
                <h3 th:text="#{mobile.device-management.title}">디바이스 관리</h3>
                <p th:text="#{mobile.device-management.message}">간편 인증 단말을 변경합니다.</p>
            </div>
        </div>

        <div id="m_device-management_contents_section">
            <div id="m_device-management_contents"></div>
        </div>
    </div>
</div>
</body>
</html>