<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/mobile-default-layout.html}"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="#{page.title.mobile.vpnAgentUpgrade}">[DAESANG SSL VPN] MOBILE VPN AGENT UPGRADE</title>

    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/mobile/agent/upgrade.css}" >
    </th:block>

    <th:block layout:fragment="script">
        <script>
            const pageName = "MOBILE_VPN-AGENT-UPGRADE";
        </script>
    </th:block>          
</head>
<body>
    <div class="m-contents-section inner" layout:fragment="contents-section" id="m_vpn_agent_upgrade_contents_section">
        <div>
            <div id="m_vpn_agent_upgrade_contents">
                <div id="vpn_agent_icon_wrap">
                    <img src="/images/mobile/app_upgrade.png" alt="앱업그레이드모양">
                </div>
                <p th:text="#{mobile.agent.upgrade.guideMessage.clickButton}">
                    앱 업그레이드를 진행하시려면 아래 버튼을 눌러 주세요.
                </p>
                <a id="m_vpn_agent_upgrade_button" class="primary_button" href="itms-services://?action=download-manifest&amp;url=https://vpn.daesang.com/api/agent/plist/iOS.plist">
                    <img src="/images/mobile/download-mark.png" alt="다운로드마크">
                    <span th:text="#{mobile.agent.upgrade.button.download}">
                        Download Now
                    </span>
                </a>
            </div>
        </div>
    </div>
</body>
</html>