<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/mobile-default-layout.html}"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="#{page.title.mobile.authStart}">[DAESANG SSL VPN] MOBILE AUTHENTICATE START</title>

    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/mobile/authenticate/authenticate-start.css}" >
    </th:block>

    <th:block layout:fragment="script">
        <script>
            const pageName = "MOBILE_FIRST-AUTHENTICATE-START";
        </script>
        <script type="text/javascript" th:src="@{/js/mobile/authenticate/authenticateStart.js}"></script>
    </th:block>          
</head>
<body>
    <div class="m-contents-section inner" layout:fragment="contents-section" id="m_authenticate_start_contents_section">
        <div id="m_authenticate_start_contents">
            <div id="m_authenticate_start_logo" class="m_logo_section">
                <img class="m_logo_common_style" src="/images/mobile/m_background_logo.png" alt="대상로고">
            </div>
            <div id="m_authenticate_start_guide" class="m_guide_section">
                <h3 class="m_guide_common-style_up" th:text="#{mobile.authenticate.start.guideMent1}">
                    VPN 인증 등록이 필요합니다.
                </h3>
                <p class="m_guide_common-style_down" th:utext="#{mobile.authenticate.start.guideMent2}">
                    간편 인증 지원이 가능한 단말이어야 VPN 인증 등록이<br>가능하며 대상 서버에 접속할 수 있습니다.
                </p>
            </div>
        </div>
    </div>
</body>
</html>