<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/mobile-default-layout.html}"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="#{page.title.mobile.mfa}">[DAESANG SSL VPN] MOBILE MFA AUTHENTICATE</title>

    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/mobile/authenticate/mfa.css}">
    </th:block>

    <th:block layout:fragment="script">
        <script>
            const pageName = "MOBILE_MFA-SECOND_AUTHENTICATE";
            const osCode = "[[${osCode}]]";
        </script>
        <script type="text/javascript" th:src="@{/js/mobile/authenticate/mfa.js}"></script>
    </th:block>
</head>
<body>
    <div class="m-contents-section inner" layout:fragment="contents-section" id="m_2-factor">
    <div>
        <div id="m_2-factor_logo" class="m_logo_section">
            <img class="m_logo_common_style" src="/images/mobile/m_background_logo.png" alt="대상로고">
        </div>
        <div id="m_2-factor_guide" class="m_guide_section">
            <h3 class="m_guide_common-style_up" th:utext="#{mobile.mfa.guide.message1}">
                시스템을 이용하기 위해서는<br>
                본인 인증이 필요합니다.
            </h3>
            <p class="m_guide_common-style_down" th:text="#{mobile.mfa.guide.message2}">
                NPass 앱에서 간편 인증을 진행해 주세요.
            </p>
        </div>
        <div id="m_2-factor_button_section">
            <button id="m_2-factor_button_mail" class="primary_button" type="button" onclick="startMfaAuthenticate();" th:text="#{mobile.mfa.button}">NPass 간편인증 시작하기</button>
            <button id="m_otp_appLink_send_button" class="secondary_button" th:text="#{mobile.authenticate.otp.button.appLink}" type="button" onclick="appDownloadLinkQRModalOn()">간편인증 앱 링크 QR표시</button>
        </div>

        <div id="m_id-pw_auto">
            <span th:text="#{mobile.authenticate.idPw.autoLogin}">자동 접속</span>
            <div class="check-box">
                <input type="checkbox" class="myCheckbox" id="autoConnectCheckbox" onclick="updateVpnAppToken();">
                <label for="autoConnectCheckbox" class="myCheckbox-label"></label>
            </div>
        </div>

        <div id="m_2-factor_sub_guide">
            <img src="/images/otp_i_mark.png" alt="i마크">
            <p th:utext="#{mobile.mfa.subGuide.message}">
                간편인증 전, NPass 앱 설치 링크를 통해 가지고 계신<br>
                휴대전화 등의 단말을 등록해 주세요.
            </p>
        </div>
    </div>
</div>
</body>
</html>