<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/mobile-default-layout.html}"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="#{page.title.mobile.otpInit}">[DAESANG SSL VPN] MOBILE OTP-INIT AUTHENTICATE</title>

    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/mobile/authenticate/otp.css}">
    </th:block>

    <th:block layout:fragment="script">
        <script>
            const pageName = "MOBILE_OTP-INIT";
            const otpCheckCount = [[${otpCheckCount}]];
        </script>
        <script type="text/javascript" th:src="@{/js/mobile/authenticate/otp.js}"></script>
    </th:block>
</head>
<body>
<div class="m-contents-section inner" layout:fragment="contents-section" id="m_otp_contents_section">
    <div id="m_otp_contents">
        <div id="m_otp_logo" class="m_logo_section">
            <img class="m_logo_common_style" src="/images/mobile/m_background_logo.png" alt="대상로고">
        </div>
        <div id="m_otp_guide" class="m_guide_section">
            <h3 class="m_guide_common-style_up" th:text="#{mobile.authenticate.otp.guideMent.writeCode}">
                초기 접속이므로 재설정이 필요합니다.
            </h3>
            <p class="m_guide_common-style_down">
                <span id="maskingContactInfo" class="pointC" th:text="${maskingContactInfo}">s*****@daesang.com</span>
                <span th:utext="#{mobile.authenticate.otp.guideMent.sent}" class="subC">
                    으로
                    <br>전송된 코드를 입력해주세요.
                </span>
            </p>
        </div>
        <div id="m_otp_input">
            <ul>
                <li id="m_otp_input_code">
                    <h3 th:text="#{mobile.authenticate.otp.inputSection.code}">인증 코드</h3>
                    <div>
                        <input id="m-otp_code" type="password" autocomplete="off" th:placeholder="#{mobile.authenticate.otp.input.placeHolder.code}" maxlength="6">
                    </div>
                </li>
            </ul>
        </div>

        <div id="m_otp_wrongCount">
            <p th:text="#{mobile.authenticate.otp.inputSection.wrongCount}">잘못 입력한 횟수 : </p>
            <span id="otpCheckFailCount">0</span> / <span id="otpCheckCount" th:text="${otpCheckCount}"></span>
        </div>

        <div id="m_id-pw_auto">
            <span th:text="#{mobile.authenticate.idPw.autoLogin}">자동 접속</span>
            <div class="check-box">
                <input type="checkbox" class="myCheckbox" id="autoConnectCheckbox" onclick="updateVpnAppToken();">
                <label for="autoConnectCheckbox" class="myCheckbox-label"></label>
            </div>
        </div>

        <button id="m_otp_code_button" class="primary_button" th:text="#{mobile.authenticate.otp.button.writeCode}" type="button" onclick="otpCheck();">인증 코드 입력</button>

        <div id="m_otp_auto">
            <ul>
                <li>
                    <img src="/images/otp_i_mark.png" alt="i마크" class="i-mark">
                    <p th:text="#{mobile.authenticate.otp.guideMent.correctWrite}">인증코드를 정확히 입력해 주세요.</p>
                </li>
                <li>
                    <img src="/images/otp_timer.png" alt="타이머" class="timer">
                    <p th:text="#{mobile.authenticate.otp.guideMent.loginLimit}" class="pointC">잘못된 입력이 5회 이상일 시 5분간 로그인이 제한됩니다.</p>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>