<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/mobile-default-layout.html}"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="#{page.title.mobile.setPassword}">[DAESANG SSL VPN] MOBILE SET PASSWORD</title>

    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/mobile/authenticate/set-password.css}">
    </th:block>

    <th:block layout:fragment="script">
        <script>
            const pageName = "MOBILE_RESET-PASSWORD";
        </script>
        <script type="text/javascript" th:src="@{/js/mobile/authenticate/set-password.js}"></script>
    </th:block>
</head>
<body>
<div class="m-contents-section inner" layout:fragment="contents-section" id="m_set-password">
    <div>
        <div id="m_set-password_logo" class="m_logo_section">
            <img class="m_logo_common_style" src="/images/mobile/m_background_logo.png" alt="대상로고">
        </div>
        <div id="m_set-password_guide" class="m_guide_section">
            <h3 class="m_guide_common-style_up" th:utext="#{mobile.reset-password.message1(${passwordExpire})}">
                마지막으로 암호를 변경한 지<br>
                <span th:text="${passwordExpire}">000</span>일이 지나 암호변경이 필요합니다.<br>
                암호를 변경해 주세요.
            </h3>
        </div>
        <br>

        <div id="m_set-password_input_field">
            <ul>
                <li>
                    <h3 th:text="#{mobile.set-password.input.password.title}">암호</h3>
                    <input autofocus id="m_set-password_input_password" type="password" th:placeholder="#{mobile.set-password.input.password.placeholder}">
                </li>
                <li>
                    <h3 th:text="#{mobile.set-password.input.password-check.title}">암호 확인</h3>
                    <input id="m_set-password_input_check" type="password" th:placeholder="#{mobile.set-password.input.password-check.placeholder}">
                </li>
            </ul>
        </div>

        <button id="m_set-password_button" class="primary_button" th:text="#{mobile.set-password.button}" type="button" onclick="setPassword();">암호 변경</button>

        <div id="setPasswordErrorMessageArea">
            <span class="pss_match" id="setPasswordErrorMessage"></span>
        </div>

        <div id="setPassSuccess_right_contents_guide">
            <img src="/images/otp_i_mark.png" alt="i마크" class="i-mark">
            <p th:utext="#{mobile.set-password.change-password.success-message}">본인인증 단말 미등록자일 경우, 다시 로그인한 후 본인인증용 단말을 등록하는 과정이 필요합니다.</p>
        </div>
    </div>
</div>
</body>
</html>