<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    layout:decorate="~{layout/mobile-default-layout.html}">
<head>
    <title th:text="#{page.title.mobile.error404}">[DAESANG SSL VPN] MOBILE ERROR 404</title>

    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/mobile/error/error.css}">
    </th:block>

    <th:block layout:fragment="script"></th:block>
</head>
<body>
    <div class="m-contents-section inner" layout:fragment="contents-section">
        <div class="m_error_wrap">
            <div class="m_error_title_section">
                <h2 class="m_error_title" th:utext="#{mobile.error.404.title}">
                    404<br>
                    ERROR
                </h2>
            </div>
            <div class="m_guide_section">
                <p class="m_guide_common-style_up" th:utext="#{mobile.error.404.guide}">
                    페이지를 찾을 수 없습니다.<br>
                    문제가 계속되면 관리자에게 문의하세요.
                </p>
            </div>
        </div>
    </div>
</body>
</html>