
#m_notice > div {
    position: relative;
    height: 100%;
}

#m_notice_title_section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#m_notice_title {
    height: calc(100% - 42px);
}

#m_notice_title h3 {
    height: 50%;
    padding: 15px 0;
}

#m_notice_title p {
    color: #888B8D;
    height: 50%;
    overflow: hidden;
}

#m_notice_search-box {
    border-bottom: 1px solid #888B8D;
    display: flex;
    align-items: center;
    height: 32px;
    width: 100%;
    padding: 0 5px;
    margin-bottom: 10px;
}

#m_notice_search-box img {
    width: 16px;
    filter: brightness(0%);
}

#m_notice_search-box input[type="search"] {
    outline: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    font-size: 15px;
}

#m_notice_contents_section {
    position: absolute;
    top: 140px;
    left: 0;
    width: 100%;
    height: calc(100% - 140px - 30px);
    overflow: hidden;
}

.contents_scroll {
    padding-right: 10px;
    height: 100%;
    overflow: auto;
}

#m_notice_contents > ul > li {
    border: 1px solid #000;
    border-radius: 8px;
    margin-bottom: 5px;
    padding: 15px;
}

.m_notice_contents_detail {
    border-top: 1px solid #000;
    padding-top: 10px;
    margin-top: 10px;
    color: #888B8D;
    display: none;
}

.m_notice_contents_title > div {
    display: flex;
    justify-content: space-between;
}

.m_notice_contents_title > div > h3 {
    width: calc(100% - 14px);
    margin-bottom: 15px;
}

.m_notice_contents_title > span {
    color: #888B8D;
    font-size: 15px;
}

.m_line_arrow_up {
    display: none;
}

/* 활성화 상태 */
li.active .m_line_arrow_down {
    display: none;
}

li.active .m_line_arrow_up {
    display: block;
}

/* 비활성화 상태 */
li.inactive .m_line_arrow_down {
    display: block;
}

li.inactive .m_line_arrow_up {
    display: none;
}

@media (max-height: 610px) {
    #m_notice_title_section {
        height: 100px;
    }

    #m_notice_title h3 {
        padding: 0;
    }

    #m_notice_contents_section {
        top: 100px;
        height: calc(100% - 100px - 20px);
    }

    .m_notice_contents_title > div > h3 {
        margin-bottom: 7px;
    }
}